@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
:root {
  --mleft: 20%;
  --mright: 20%;
}

body {
  font-family: "Libre Baskerville", serif;
  margin: 3% var(--mright) 5% var(--mleft);

  color: #cccccc;
  background-color: #000000;
}

#main {
  position: relative;
}
h1 {
}
.main {
}

.heading {
  font-size: 40pt;
}
