@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
body {
  font-family: "Baskervville", serif;
}

#main {
  position: relative;
  top: 30px;
}
h1 {
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
}
.main {
  margin-left: 20%;
  margin-right: 20%;
}
