@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
:root {
  --mleft: 20%;
  --mright: 20%;
}

body {
  /*font-family: "Libre Baskerville", serif;*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 3% var(--mright) 5% var(--mleft);

  color: #cccccc;
  background-color: #111010;
  text-align: justify;
}
/* comment*/
#main {
  position: relative;
}
h1 {
}
.main {
}

.heading {
  font-size: 35pt;
  text-align: center;
}

a {
  color: white;
  
}
a:hover {
  color: gray;
}
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 10%;
}

.sidebar a{
  color:#e3e3e3;
  padding: 10px;
}
@media  (max-width: 560px){
  .sidebar{
    visibility: hidden;
  }
